extends ../templates/default

block vars
  -var title = ''
  -var description = '!'

block content
  h1.h-entry #{tagName}
  .row.feedlyTagIndex
    .col
      ul.list-group
        each item in items
          a.list-group-item(href=`/curated/${tagPath}/${item.published}` title=item.title) 
            h5 #{item.title}
            -var publishDate = new Date(item.published).toLocaleDateString('en-US')
            small.text-muted  &emsp;#{publishDate} | #{item.origin.title}
