extends ../templates/default

block vars
  -var title = item.title;
  if item.canonicalUrl
    -var url = item.canonicalUrl.replace('http:', '');

  block head
    if item.canonicalUrl
      link(rel='canonical' href=item.canonicalUrl)

block content
  h1.h-entry #{item.title}
  .row.justify-content-between.p-1
    .col-xs-6
      - var myDate = new Date(item.published).toLocaleDateString('en-US');
      | #{myDate}&emsp;|&emsp;
      span(title="Engagement metric from Feedly")
        span.glyphicon.glyphicon-thumbs-up
        | &nbsp;#{item.engagement}
    .col-xs-6.text-right
      span &emsp; Published by 
        span.p-author.h-card(rel="author") #{item.author} |&nbsp;
        -var href = item.origin.htmlUrl.replace('http:', '');
        a(href=href rel="noopener") #{item.origin.title}
  //- .text-center
    br
    a.btn.btn-default(href=item.canonicalUrl target="_blank") Go
  hr.space
  .card.card-default
    -var missingImageContent = typeof item.content !== 'undefined' && item.content.content.indexOf('img') === -1 && item.content.content.indexOf('iframe') === -1
    if typeof item.visual !== 'undefined' && item.visual.url !== 'none' && missingImageContent
        a(href=url)
          img.card-img-top(src=item.visual.url.replace('http:', ''))
    .card-body
      .e-content.feedly-content
        if typeof item.content !== 'undefined'
          | !{item.content.content}
        else if typeof item.summary  !== 'undefined'
          | !{item.summary.content}
  hr.space
  a.btn.btn-sm.btn-primary.float-right(href=url target="_blank" rel="noopener") View Source
  
  details
    summary.small view data
    - var debugContent = JSON.stringify(item, null, 2);
    pre.hidden #{debugContent}

