---
title: James J Nadeau | Tuva at GMCB
description: 
---

#impress()
  -var space = 1500;

  .step()
    h4 Who am I?
    ul 
      li.substep 🦄 According to Wendy 🌞 🌈
      li.substep ✅ C2 @ AOE, EDE, ADM, EdFusion to Ed-Fi
      li.substep 🧑‍💻 Software Developer for 15+ years
      li.substep 🐕 I'm curious how things work 

  .step(data-rel-y=space)
    h4 🤓 Systems Engineer
    p.substep.lead  "... is a multidisciplinary professional who designs, integrates, and manages complex systems."
    p.substep I've built a lot of things.

  .step(data-rel-y=space)
    h4.text-center 🚨 What Would You Say You Do Here 🚨
    img(src="/files/Bobs.webp")

  .step(data-rel-x=space data-rel-y=-space data-rotate-z="-180")
    h3 Data is an Asset
    h4 🏠 Like a House 🏘
    p.substep 🎁 Design - Won't look good without planning
    p.substep 🪮 Curated - What do we allow in or throw out?
    p.substep ⚒ Maintenance - Will fall apart 
    p.substep 🤓 Expertise - Sometimes you need a Plumber
    p.substep 📈 Goal - Stability, safety, ground to stand on
      
  
  .step(data-rel-x=space data-rotate-y="90")
    h3 GMCB Needs Help With Data
    h4 📋 We need:
    p.substep 👀 Better data to see entire market
    p.substep 📈 A Model to store our data over time
    p.substep 🤗 Place to combine different sources
    p.substep 🧑‍⚕ Expertise in the Domain 

  .step(data-rel-x=space data-rotate-y="90")
    h2.text-center 🎉 The Tuva Project 🎉
    h4.text-center Solves most of our issues
  
  .step(data-rel-z=space*2)
    h2 😕 What? 🤷
    h4.substep 🩻 Has a Complete Model 
    h4.substep 🏛 Has the little g figured output 
    h4.substep 🧭 Designed by Experts
    h4.substep ⚗ Built in Tooling for DQ and Enrichment
    h4.substep 🔮 Extendable, Open, and Easily RFP'able

  .step(data-rel-x=space)
    h4.text-center Concerns &amp; Questions?
    h4.text-center ⚖
  