---
title: James J Nadeau | AOE DMAT Presentation
description: A presentation about how I automated a validation and reporting process for the Vermont Agency of Education.
---

//- block head
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.css', rel='stylesheet', type='text/css')

- var xspace = 1100;
- var yspace = 750;
- var zspace = 1000;

#impress()
  .step()
    h1 Field Submission Checks and Reporting
    ul
      li.substep Data is submitted to EdFusion
      li.substep EdFusion missing some validation rules
      li.substep Created a framework for Checks
      li.substep Scripted manual labor to distrubute reports
      li.substep Scripted summary report

  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 Current State
    hr
    .row
      .col-6
        h3 EdFusion 
        small is not all that and a bag of chips.
        img.img-fluid(src="/files/chips-close-colors-crisps.jpg")
        h4 Rules were missed
        p.small.text-right Let's not go there?
      .col-6
        h3 Examples
        p Table Cross referencing
        ul 
          li Teachers & Courses
          li ...
        p Missing Pieces
        ul
          li No principal submited
          li Missing students
  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 Where I come in
    h3 Called to support staff member while on vacation.
    img.img-fluid(src="https://via.placeholder.com/1000x200?text=Code+goes+here")
    h4 I like to code
  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 Framework for Checks
    img.img-fluid(src="https://via.placeholder.com/1000x200?text=Code+goes+here")
    h4 Showed it to others...
    h4 Of to the races 🏇
  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 We have a Problem
    h3 How do we distirbute all these files?
    h4 Remember, I like to code
    h3 Time saved, forever. 🚀
  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 Now What?
    img.img-fluid(src="https://via.placeholder.com/1000x200?text=Report+goes+here")
    h2 Reports
  .step(data-rel-z=zspace data-rel-x=xspace data-rel-y=yspace)
    h1 Summary
  
  


    
    
