doctype html
block vars

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    if title
      title #{title}
    if description
      meta(name='description', content='#{description}')
    if keywords 
      meta(name='description', content='#{keywords}')
    block head
    meta(name='robots', content='robots.txt')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1')
    meta(name='author', content='James J Nadeau')

    link(rel='manifest', href='/manifest.json')
    link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png?v=#{version}")
    link(rel="icon", type="image/png", href="/icons/favicon-32x32.png?v=#{version}", sizes="32x32")
    link(rel="icon", type="image/png", href="/icons/favicon-16x16.png?v=#{version}", sizes="16x16")
    link(rel="mask-icon", href="/icons/safari-pinned-tab.svg?v=#{version}", color="#2489ce")
    link(rel="shortcut icon", href="/icons/favicon.ico?v=#{version}")
    meta(name="msapplication-config", content="/icons/browserconfig.xml?v=#{version}")
    meta(name="theme-color", content="#2489ce")

    link(href='/styles.css?v=#{version}', rel='stylesheet', type='text/css')

  body
    // Loading spinner
    #loading.spinner.d-none
      .bounce1
      .bounce2
      .bounce3
    #wrap
      nav#header.navbar.navbar-expand-lg.navbar-dark.fixed-top
        .container.p-2
          a.brand.navbar-brand(href='/') James J Nadeau 
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon 
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.d-flex.justify-content-around.align-items-center.w-100
              a.nav-item.text-white.p1(href='/projects/') Projects
              a.nav-item.text-white.p1(href='/TIL/') Today I ...
              a.nav-item.text-white.p1(href='/curated/') Curated
              a.nav-item.text-white.p1(href='/reference/') Reference
              a.nav-item.text-white.p1(href="https://github.com/jamesjnadeau/")
                img.github-logo.img-fluid(src="/files/GitHub-Mark-Light-120px-plus.png")
            //- ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Social Links
                  b.caret
                ul.dropdown-menu
                  li
                    img.img-thumbnail(alt='', src='/files/me.jpg', style='width: 60px; height: 60px; float: right;')
                    span(style='font-size: 8pt; margin-left: 5px; color: white;') Systems Engineer
                  //- li
                    a(href='http://www.linkedin.com/pub/james-nadeau/79/376/52b' rel="me")
                      span LinkedIn
                  //- li
                    a(href='https://google.com/+JamesNadeauJ', target='_blank' rel="me") Google+
                  li
                    a(href='https://github.com/jamesjnadeau?tab=activity', target='_blank' rel="me") Git Hub
                  li
                    a(href='http://stackoverflow.com/users/1978759/james-nadeau', target='_blank' rel="me") Stack Overflow
                  //- h-card link for indie web
                  li 
                    a.h-card(href="https://jamesjnadeau.com" rel="me") James J Nadeau
      #container.container.animated.fadeInRight
        block content
          div !{content}

    
    script(src='/frontend.js?v=#{version}')
    block scripts
